@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-ExtraBold.ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}
